<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2017-01-20-example-content.md</key>
			<dict>
				<key>lastModification</key>
				<real>556304243.03415895</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2017-03-16-footnotes-in-dactl.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>556304169.11390102</real>
				<key>lastModification</key>
				<real>556304243.03416097</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2017-03-17-post-excerpts-lead-paragraphs.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>556304166.97260296</real>
				<key>lastModification</key>
				<real>556304243.03416204</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2017-03-18-tags-in-dactyl.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>556304163.95184195</real>
				<key>lastModification</key>
				<real>556304243.03416204</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2017-03-19-yaml-frontmatter.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>556304184.84445906</real>
				<key>lastModification</key>
				<real>556304243.03415895</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2017-03-20-config-settings.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>556304034.89003801</real>
				<key>lastModification</key>
				<real>556304243.03416395</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2017-03-20-notices.md</key>
			<dict>
				<key>explicitUnassignment</key>
				<true/>
				<key>firstUnassignment</key>
				<real>556304026.82141304</real>
				<key>lastModification</key>
				<real>556304243.03416502</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2017-03-22-welcome-to-dactl.md</key>
			<dict>
				<key>lastModification</key>
				<real>556304243.03416502</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>8</integer>
				</dict>
			</dict>
			<key>2018-08-19-las-relaciones-vocab.md</key>
			<dict>
				<key>lastModification</key>
				<real>556304256.56076705</real>
				<key>version</key>
				<dict>
					<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
					<integer>9</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2017-03-19-yaml-frontmatter.md</string>
		</array>
		<array>
			<string>2017-01-20-example-content.md</string>
		</array>
		<array>
			<string>2017-03-16-footnotes-in-dactl.md</string>
		</array>
		<array>
			<string>2017-03-17-post-excerpts-lead-paragraphs.md</string>
		</array>
		<array>
			<string>2017-03-18-tags-in-dactyl.md</string>
		</array>
		<array>
			<string>2017-03-20-config-settings.md</string>
		</array>
		<array>
			<string>2017-03-20-notices.md</string>
		</array>
		<array>
			<string>2018-08-19-las-relaciones-vocab.md</string>
		</array>
		<array>
			<string>2017-03-22-welcome-to-dactl.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>41a688e7ccc7c914e1d449a107a32b52f6468d0f7e6a2a1111a4f96bc782ee76</key>
			<integer>10</integer>
		</dict>
	</dict>
</dict>
</plist>
